$fontSize: 12px;
$fontFamily: "Kumbh Sans", sans-serif;
$dividerColor: hsl(240, 5%, 91%);
$titleOnClickColor: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);
$titleColor: hsl(237, 12%, 33%);
$contentColor: hsl(240, 6%, 50%);
$gradientViolet: hsl(273, 75%, 66%);
$gradientBlue: hsl(240, 73%, 65%);
