@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  height: 100vh;
  background: linear-gradient($gradientViolet, $gradientBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fontSize;
  font-family: $fontFamily;

  &__wrapper {
    background: url("./images/bg-pattern-desktop.svg") no-repeat right 42.5rem
      top -24.5rem / cover;
    position: relative;
    height: 45rem;
    width: 80rem;
    background-color: #fff;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));

    &__boxSVG {
      position: absolute;
      right: 76rem;
      top: 18rem;
    }

    &__womenSVG {
      background: url("./images/illustration-woman-online-desktop.svg")
        no-repeat left -8rem top 4rem / 45rem 32rem;
    }

    &__text {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      &__item {
        margin-bottom: 2rem;
        margin-left: 1.5rem;
        border-bottom: 1px solid $dividerColor;
        padding-bottom: 1.8rem;
        width: 30rem;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &__content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 30rem;

          &__text {
            &:hover {
              color: $softRed;
              cursor: pointer;
            }
          }

          &__image {
            height: 0.5rem;

            &:hover {
              cursor: pointer;
            }
          }
        }

        &__accordeon {
          color-adjust: 1;

          &__text {
            padding-top: 2rem;
          }
        }
      }

      &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 4rem;
        margin-left: 1.5rem;
      }
    }
  }
}

.change {
  display: none;
}
